apiVersion: apps/v1
kind: Deployment
metadata:
  name: ratings
spec:
  replicas: 2
  selector:
    matchLabels:
      app: ratings
  template:
    metadata:
      labels:
        app: ratings
    spec:
      containers:
        - name: ratings
          image: mo7iiee/robotshop:ratings-20007256458
          ports:
            - containerPort: 8080
