apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: mongodb
  labels:
    app: mongodb
spec:
  serviceName: mongodb
  replicas: {{ .Values.services.mongodb.replicas | default 1 }}
  selector:
    matchLabels:
      app: mongodb
  template:
    metadata:
      labels:
        app: mongodb
    spec:
      containers:
        - name: mongodb
          image: {{ .Values.services.mongodb.repository }}:{{ .Values.services.mongodb.tag }}
          ports:
            - containerPort: {{ .Values.services.mongodb.port | default 27017 }}
          volumeMounts:
            - name: data
              mountPath: /data/db
  volumeClaimTemplates:
    - metadata:
        name: data
      spec:
        accessModes: ["ReadWriteOnce"]
        storageClassName: {{ .Values.services.mongodb.storageClass | default "gp2" }}
        resources:
          requests:
            storage: {{ .Values.services.mongodb.storage | default "10Gi" }}
