apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: mysql
  labels:
    app: mysql
spec:
  serviceName: mysql
  replicas: {{ .Values.services.mysql.replicas | default 1 }}
  selector:
    matchLabels:
      app: mysql
  template:
    metadata:
      labels:
        app: mysql
    spec:
      containers:
        - name: mysql
          image: {{ .Values.services.mysql.repository }}:{{ .Values.services.mysql.tag }}
          ports:
            - containerPort: {{ .Values.services.mysql.port | default 3306 }}
          volumeMounts:
            - name: data
              mountPath: /var/lib/mysql
  volumeClaimTemplates:
    - metadata:
        name: data
      spec:
        accessModes: ["ReadWriteOnce"]
        storageClassName: {{ .Values.services.mysql.storageClass | default "gp2" }}
        resources:
          requests:
            storage: {{ .Values.services.mysql.storage | default "10Gi" }}
