apiVersion: apps/v1
kind: Deployment
metadata:
  name: ratings
  labels:
    app: ratings
spec:
  replicas: {{ .Values.services.ratings.replicas | default 2 }}
  selector:
    matchLabels:
      app: ratings
  template:
    metadata:
      labels:
        app: ratings
    spec:
      containers:
        - name: ratings
          image: {{ .Values.services.ratings.repository }}:{{ .Values.services.ratings.tag }}
          ports:
            - containerPort: {{ .Values.services.ratings.port | default 8080 }}