apiVersion: apps/v1
kind: Deployment
metadata:
  name: user
  labels:
    app: user
spec:
  replicas: {{ .Values.services.user.replicas | default 2 }}
  selector:
    matchLabels:
      app: user
  template:
    metadata:
      labels:
        app: user
    spec:
      containers:
        - name: user
          image: {{ .Values.services.user.repository }}:{{ .Values.services.user.tag }}
          ports:
            - containerPort: {{ .Values.services.user.port | default 8080 }}
