apiVersion: apps/v1
kind: Deployment
metadata:
  name: web
  labels:
    app: web
spec:
  replicas: {{ .Values.services.web.replicas | default 2 }}
  selector:
    matchLabels:
      app: web
  template:
    metadata:
      labels:
        app: web
    spec:
      containers:
        - name: web
          image: {{ .Values.services.web.repository }}:{{ .Values.services.web.tag }}
          ports:
            - containerPort: {{ .Values.services.web.port | default 8080 }}
            
